<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pardon Application – Page 3</title>
  <style>
    body {
      margin: 0;
      background: #eee;
      font-family: Arial, sans-serif;
    }
    .form-page {
      position: relative;
      width: 850px;
      margin: 20px auto;
    }
    .form-page img {
      width: 100%;
      display: block;
    }
    .field {
      position: absolute;
      background: transparent;
      border: 1px dashed #999;
      font-size: 14px;
      padding: 2px;
    }
    .checkbox-label {
      position: absolute;
      font-size: 14px;
    }
  </style>
</head>
<body>
  <form method="POST" action="/page3">
    <div class="form-page">
      <img src="{{ url_for('static', filename='forms/PardonApp_Aug2021_page3.png') }}" alt="Pardon Application Page 3">

      <!-- Second criminal history block -->
      <input class="field" name="crime2" style="top: 60px; left: 30px; width: 170px;" />
      <input class="field" name="case_number2" style="top: 60px; left: 220px; width: 170px;" />
      <input class="field" name="county2" style="top: 60px; left: 410px; width: 210px;" />

      <input class="field" name="offense_date2" style="top: 90px; left: 30px; width: 170px;" />
      <input class="field" name="sentencing_date2" style="top: 90px; left: 220px; width: 170px;" />
      <input class="field" name="sentence2" style="top: 90px; left: 410px; width: 210px;" />

      <input class="field" name="completed_date2" style="top: 120px; left: 30px; width: 170px;" />
      <input class="field" name="district_attorney2" style="top: 120px; left: 220px; width: 170px;" />
      <input class="field" name="judge2" style="top: 120px; left: 410px; width: 210px;" />

      <!-- Certified copies checkbox -->
      <label class="checkbox-label" style="top: 170px; left: 240px;">
        <input type="checkbox" name="copies_attached_yes" /> Yes
      </label>
      <label class="checkbox-label" style="top: 170px; left: 300px;">
        <input type="checkbox" name="copies_attached_no" /> No
      </label>

      <!-- Other crimes checkbox -->
      <label class="checkbox-label" style="top: 240px; left: 240px;">
        <input type="checkbox" name="other_crimes_yes" /> Yes
      </label>
      <label class="checkbox-label" style="top: 240px; left: 300px;">
        <input type="checkbox" name="other_crimes_no" /> No
      </label>

      <!-- Additional convictions table -->
      <input class="field" name="other_crime1" style="top: 285px; left: 30px; width: 140px;" />
      <input class="field" name="other_case_number1" style="top: 285px; left: 180px; width: 120px;" />
      <input class="field" name="other_county1" style="top: 285px; left: 310px; width: 120px;" />
      <input class="field" name="other_sentence1" style="top: 285px; left: 440px; width: 190px;" />
      <input class="field" name="other_completed1" style="top: 285px; left: 640px; width: 130px;" />

      <input class="field" name="other_crime2" style="top: 315px; left: 30px; width: 140px;" />
      <input class="field" name="other_case_number2" style="top: 315px; left: 180px; width: 120px;" />
      <input class="field" name="other_county2" style="top: 315px; left: 310px; width: 120px;" />
      <input class="field" name="other_sentence2" style="top: 315px; left: 440px; width: 190px;" />
      <input class="field" name="other_completed2" style="top: 315px; left: 640px; width: 130px;" />

      <input class="field" name="other_crime3" style="top: 345px; left: 30px; width: 140px;" />
      <input class="field" name="other_case_number3" style="top: 345px; left: 180px; width: 120px;" />
      <input class="field" name="other_county3" style="top: 345px; left: 310px; width: 120px;" />
      <input class="field" name="other_sentence3" style="top: 345px; left: 440px; width: 190px;" />
      <input class="field" name="other_completed3" style="top: 345px; left: 640px; width: 130px;" />

    </div>

    <div style="text-align: center; margin-top: 20px;">
      <button type="submit">Next Page</button>
    </div>
  </form>
</body>
</html>
